@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidemenu-portal {
  z-index: 9999;
}

#smooth-content {
  will-change: transform;
}

body {
  font-family: var(--font-cinzel), serif;
  letter-spacing: 5px;
  color: #fff;
}

h1 {
  font-family: var(--font-cinzel), serif;
}

p {
  font-family: var(--font-montserrat), sans-serif;
  letter-spacing: normal;
  line-height: 2;
  font-weight: 300;
  letter-spacing: 1px;
}

.video_sec {
  position: relative;
}

.video_sec .afterBeforeImage {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.video_sec .before {
  left: 50%;
  background-color: #000;
  transform: translateX(0%);
}

.video_sec .after {
  right: 50%;
  background-color: #000;
  transform: translateX(0%);
}

.bg-gradient-box {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(1deg, black 100%, #2b231600);
  mix-blend-mode: darken;
}

.building_create {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.mySwiper {
  margin-top: 80px;
}

input::placeholder,
textarea::placeholder {
  letter-spacing: 2px;
}

.whatsapp-chat {
  display: flex;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, .6);
  padding: 8px 0 8px 15px;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 25px;
  font-size: 15px;
  transition: .2s;
  z-index: 11
}

.changemargin .pin-spacer {
  margin: 0 !important;
}

.overflow-x-hidden{
  overflow: hidden !important;
}

.whatsapp-chat img {
  position: relative;
  top: -0.5px;
  height: 24px;
  width: 24px;
  right: 6px;

}

.whatsapp-chat span {
  padding: 0 15px 0 5px;
  letter-spacing: normal;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-montserrat), sans-serif
}

.whatsapp-chat:hover {
  background-color: #66c172;
  bottom: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  color: #fff
}

@font-face {
  font-family: 'SangBleu Sans';
  src: url('/fonts/SangBleu-Sunrise.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.changed-font {
  font-family: 'SangBleu Sans';
}

@media (max-width: 767px) {
  .video_sec .before {
    left: calc(48% - 30px);
    background-color: #000;
    transform: translateX(0%);
  }

  .video_sec .after {
    right: calc(48% - 30px);
    background-color: #000;
    transform: translateX(0%);
  }
}

.swiper-pagination {
  position: static !important;
}

.swiper-pagination-bullet {
  background-color: #e8c183a4 !important;
}

.swiper-pagination-bullet-active {
  background-color: #e8c183 !important;
}

/* Mobile or short screen styles (animation disabled) */
@media (max-height: 700) {
  .img_container figure {
    flex: 0 0 25%
  }
}

@media (max-width: 991px) {
  #smooth-wrapper {
    position: static;
    overflow: auto;
  }
}

.swiper {
  margin: 0;
}

.close_btn {
  background: #E8C183;
  padding: 2px 11px;
  border-radius: 50%;
  text-align: center;
  height: 40px;
  width: 40px;
}